
h1 {
    color: rgb(207, 97, 7);
    text-align: right;
    
}

body {
    background-image: url("./images/rainbow-river.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 2500px;
    
    
    
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: rgb(16, 189, 50);
    text-align:center;
    
    
    

}

